body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    margin-top: 15px;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.category-content {
    flex-grow: 1;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 20px;
}

.category-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    position: relative;
}

.category-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.category-item h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.category-item .price {
    color: #28a745;
    font-weight: bold;
    margin: 5px 0;
}

.category-item .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.category-item .actions .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.category-item .actions .add-to-cart {
    background-color: #e8af36;
    color: #fff;
}

.category-item .actions .edit {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}