/* General container styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Cart item styles */
.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

.item-details h5 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.item-price {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.item-quantity input {
    width: 60px;
    margin-right: 10px;
}

.save-btn,
.remove-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

.save-btn {
    background-color: #3498db;
}

.remove-btn {
    background-color: #e74c3c;
}

.cart-summary {
    margin-top: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-success-custom {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}


.alert-error-custom {
    color: #aa2935;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.checkout-btn {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}