/* contact.css */
body {
    font-family: 'Poppins', sans-serif;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 2rem;
}

.contact-form {
    background-color: #fff;
    padding: 2rem;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

.contact-form p {
    font-weight: 700;
    margin-top: 10px;
    font-size: 2rem;
    color: #777;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    color: #545353;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: php#6a6969;
}

.btn-primary {
    background-color: #131414;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    text-decoration: underline;
}

.contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 240px;
}
.contact-image img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}