/* General Styles */
body {
    background-color: #0e677e;
    font-family: Arial, sans-serif;
}

.profile-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    position: relative;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Profile Header */
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image,
.profile-placeholder {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    /* Ensure the image fits */
    margin-right: 15px;
}

/* Placeholder Styles */
.profile-placeholder {
    background-color: #D4C2A8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    border: 2px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info-header h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.profile-info-header p {
    margin: 5px 0 0;
    color: #888;
    font-size: 18px;
}

/* Profile Details */
.profile-details {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding-top: 10px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.detail-title {
    font-size: 14px;
    color: #888;
}

.detail-value {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.edit-btn {
    display: inline-block;
    width: 35%;
    padding: 10px;
    background-color: #ff6600;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
}

.edit-btn:hover {
    text-decoration: underline;
    color: #f4f4f4;
}

.change-btn {
    background-color: #0066cc;
}