/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7FAF9;
    color: #333;
    line-height: 1.6;
    /* padding: 20px; */
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #14532D;
}

h1 span {
    font-style: italic;
}

p {
    margin-top: 10px;
    font-size: 2rem;
    color: #666;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* Left Section */
.categories {
    flex: 1;
}

.category-list {
    list-style: none;
    margin-top: 30px;
}


.category-list  a{
    text-decoration: none;
}

.category-list li {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.category-list li:hover {
    color: #14532D;
    transform: translateX(10px);
}

.category-list li span {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #14532D;
}

.category-list li .arrow {
    margin-left: auto;
    font-size: 1.2rem;
    color: #14532D;
}


.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 400px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}